<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/questionnaire"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuestionApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.AnalysisResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectSymptomsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FinishPage2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.QuestionAns4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuestionAns5Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuestionAns3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinishPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuestionAns2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>